<div class="viewport">
  <a href="/notices" class="btn-main">← Back to Board</a>

  <div class="content-wrapper">
    <div class="logo-placeholder"></div>

    <h1 class="main-title">
      BOARD<br />
      <span class="dot">.</span>
    </h1>
  </div>
</div>

<div class="auth-panel">
  <div class="login-box">
    <h2>Create Account</h2>
    
    <form action="/profile/register" method="POST">
      
      <div class="input-group">
        <label>User name</label>
        {{#if errors.username}}
          <span class="error-hint">{{errors.username}}</span>
        {{/if}}
        <input 
          type="text" 
          name="username" 
          placeholder="VasyaHarizma" 
          value="{{formData.username}}"
          class="{{#if errors.username}}invalid-input{{/if}}" 
          required 
        />
      </div>

      <div class="input-group">
        <label>Email</label>
        {{#if errors.email}}
          <span class="error-hint">{{errors.email}}</span>
        {{/if}}
        <input
          type="email"
          name="email"
          placeholder="vasyaharizma67@gmail.com"
          value="{{formData.email}}"
          class="{{#if errors.email}}invalid-input{{/if}}"
          required
        />
      </div>

      <div class="input-group">
        <label>Password</label>
        {{#if errors.password}}
          <span class="error-hint">{{errors.password}}</span>
        {{/if}}
        <input
          type="password"
          name="password"
          placeholder="••••••••"
          class="{{#if errors.password}}invalid-input{{/if}}"
          required
        />
      </div>

      <div class="input-group">
        <label>Confirm Password</label>
        {{#if errors.confirmPassword}}
          <span class="error-hint">{{errors.confirmPassword}}</span>
        {{/if}}
        <input
          type="password"
          name="confirmPassword"
          placeholder="••••••••"
          class="{{#if errors.confirmPassword}}invalid-input{{/if}}"
          required
        />
      </div>

      <button type="submit" class="btn-login">
        Register <span>→</span>
      </button>
    </form>

    <div class="signup-section">
      <p class="signup-text">Already have an account?</p>
      <a href="/profile/login" class="btn-signup">Login</a>
    </div>
  </div>
</div>